/* src/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1em;
    position: fixed;
    width: 100%;
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }
  
  .navbar-links a:hover {
    background-color: #555;
  }

  .button {
    /* background-color: orangered; */
    border-radius: 5px;
    padding: 1em;
    border: 0;
    outline: 0;
    color: white;

}
button:hover {
    border-color: #646cff;
  }